/* fullcalendar */

.fc-daygrid-day.fc-day.fc-day-tue.fc-day-past {
  border-color: 1px solid red !important;
}

#external-events {
  padding: 0 10px;
  background: transparent;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
  border-radius: 3px;
  padding: 0.5rem;
}

.dark .fc-scrollgrid.fc-scrollgrid-liquid {
  border-color: #464f5b !important;
}

.dark .fc-col-header-cell.fc-day {
  border-color: #464f5b !important;
}

.dark .fc-daygrid-day.fc-day {
  border-color: #464f5b !important;
}

.dark
  .fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid
  td {
  border-color: #464f5b !important;
}

.dark .fc-scrollgrid.fc-scrollgrid-liquid > thead > tr > th {
  border-color: #464f5b !important;
}

.fc-col-header-cell-cushion {
  color: #aab8c5 !important;
}

.fc-daygrid-day-number {
  color: #aab8c5 !important;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  border-radius: 3px;
}

.dark .fc-toolbar-title {
  color: whitesmoke !important;
  font-size: 20px !important;
}

.fc-daygrid-event-harness {
  color: wheat !important;
}

.fc--button.fc-button.fc-button-primary {
  display: none;
}

.fc-listWeek-button.fc-button.fc-button-primary {
  display: block;
}

.fc-toolbar-chunk {
  display: flex !important;
}

.fc-dayGridMonth-button {
  border-radius: 3px !important;
}

.fc-timeGridWeek-button {
  border-radius: 3px !important;
}

.fc-timeGridDay-button {
  border-radius: 3px !important;
}

.text-dark {
  color: #6c757d !important;
}

.light
  .fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid
  td {
  border: 1px solid #eef2f7 !important;
}
.light .fc-scrollgrid.fc-scrollgrid-liquid {
  border-color: #eef2f7 !important;
}
.light .fc-col-header-cell.fc-day {
  border-color: #eef2f7 !important;
}
.fc-daygrid-day-number {
  float: right;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin: 5px;
  font-size: 11px;
  padding: 0 !important;
  position: relative;
  z-index: 4;
}

.fc-daygrid-day-number {
  background-color: #f1f3fa;
}
.dark .fc-daygrid-day-number {
  background-color: #404954;
}
.fc-toolbar-chunk {
  color: #6c757d !important;
}
.fc .fc-toolbar-title {
  font-size: 20px !important;
}
.fc-toolbar .fc-button {
  padding: 0.28rem 0.8rem;
  font-size: 0.875rem;
  border-radius: 0.15rem;
}
.fc-toolbar-chunk .fc-button {
  color: #fff;
  background-color: #c9b26d;
  border-color: #c9b26d;
}
.fc-toolbar-chunk .fc-button:hover {
  color: #fff;
  background-color: #caa530;
  border-color: #ba9217;
}
.fc-toolbar-chunk .fc-toolbar .fc-button:disabled {
  color: #fff;
  background-color: #c9b26d;
  border-color: #c9b26d;
}
.btn-danger {
  color: #fff;
  background-color: #fa5c7c;
  border-color: #fa5c7c;
  box-shadow: 0 2px 6px 0 rgb(250 92 124 / 50%);
}
.btn-danger:hover {
  background-color: #d54e69;
  border-color: #c84a63;
}

/* list style */
.fc-theme-standard .fc-list {
  border: none !important;
}
.fc .fc-list-table {
  border: none;
}
.fc .fc-list-table td {
  border: none;
}
.fc .fc-list-table th {
  border: none;
}
.fc .fc-list-table > thead > tr > th {
  border: none;
}
.fc .fc-list-table .fc-theme-standard td,
.fc .fc-list-table .fc-theme-standard th {
  border: none !important;
}

.fc .fc-list-sticky .fc-list-day > * {
  position: relative;
  background: transparent;
  background: var(--fc-page-bg-color, transparent);
}

.fc-list-day .fc-list-day-cushion {
  background-color: transparent;
}
.dark .fc-list-day .fc-list-day-cushion .fc-list-day-text,
.fc-list-day-side-text {
  color: #aab8c5;
  font-size: 14.4px;
}
.fc-list-day .fc-list-day-cushion .fc-list-day-text,
.fc-list-day-side-text {
  color: #6c757d;
  font-size: 14.4px;
}
.fc-list-event {
  border-radius: 2px;
  border: none;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
  color: #fff;
}
.dark .fc-list-event .fc-list-event-time,
.dark .fc-list-event .fc-list-event-graphic,
.dark .fc-list-event .fc-list-event-title {
  border: 1px solid #031b34 !important;
}
/* .fc-list-event .fc-list-event-time,
.fc-list-event-graphic,
.fc-list-event-title {
} */
.fc-list-event-graphic .fc-list-event-dot {
  margin-right: 14px;
}
.fc .fc-list-event:hover td {
  background-color: #0acf97 !important;
  cursor: pointer;
}

.fc-daygrid-event-harness {
  color: #fff !important;
  background-color: transparent !important;
}
