@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Nunito", sans-serif !important;
}

body {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif !important;
  background-color: #051139;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
  font-size: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #2d2f32;
}

body::-webkit-scrollbar-thumb {
  background-color: #c9b26d;
  border-radius: 3px;
}

.scroll-design::-webkit-scrollbar {
  width: 8px;
  background-color: #373c42;
}

.scroll-design::-webkit-scrollbar-thumb {
  background-color: #282d30;
  border-radius: 2px;
}

.Toastify__toast-container {
  position: fixed !important;
  z-index: 100000 !important;
}

.Toastify {
  position: fixed !important;
  z-index: 100000 !important;
}

.translate-middle {
  transform: translate(-50%, -50%) !important;
}

.ml-26per {
  margin-left: 25.3%;
  margin-top: 4.5%;
}

.ml-3per {
  margin-left: 3%;
  margin-top: 4.5%;
}

.aye::after {
  transform: scale(0);
}

.hoverbefore:hover::after {
  transform: scale(3) !important;
}

.ela:hover .imgscale {
  transform: scale(1.05) !important;
}

.modalScroll {
  overflow: auto !important;
}
.modalScrollLight {
  overflow: auto !important;
}

.modalScroll::-webkit-scrollbar {
  width: 6px;
  background-color: #021222 !important;
}

.modalScroll::-webkit-scrollbar-thumb {
  background-color: #c9b26d !important;
  border-radius: 2px;
}
.modalScrollLight::-webkit-scrollbar {
  width: 6px;
  background-color: #0212224a !important;
}

.modalScrollLight::-webkit-scrollbar-thumb {
  background-color: #c9b26d !important;
  border-radius: 2px;
}

.bg-image-chat {
  background-image: url(./assets/chat/pattern-monochrome-telegram-logo-cats-hd-wallpaper-preview.jpg);
}

.custom-table-class::-webkit-scrollbar {
  width: 6px !important;
  background-color: #282d30 !important;
}

.custom-table-class::-webkit-scrollbar-thumb {
  background-color: #373c42 !important;
  border-radius: 2px !important;
}

.custom-table-class-light::-webkit-scrollbar {
  width: 6px !important;
  background-color: #e1e2e3 !important;
}

.custom-table-class-light::-webkit-scrollbar-thumb {
  background-color: #c2c3c4 !important;
  border-radius: 2px !important;
}

/* data grid */
div[class^="ResponsiveTable-root"] > div > div {
  background-color: transparent !important;
  opacity: 1 !important;
  border: 1px solid #ced4da !important;
}

div[class^="ResponsiveTable-root"] span,
div[class^="ResponsiveTable-root"] p,
div[class^="ResponsiveTable-root"] div,
div[class^="ResponsiveTable-root"] h6 {
  color: #ced4da !important;
  opacity: 1 !important;
  text-transform: lowercase !important;
}

div[class^="ResponsiveTable-root"] span::first-letter,
div[class^="ResponsiveTable-root"] p::first-letter,
div[class^="ResponsiveTable-root"] div::first-letter,
div[class^="ResponsiveTable-root"] h6::first-letter {
  text-transform: capitalize !important;
}

div[class^="ResponsiveTable-root"] div[class^="MuiGrid-container-102"] {
  margin-bottom: 10px !important;
}

div[class^="MuiExpansionPanelSummary-content"] h6 a {
  text-overflow: ellipsis !important;
  width: 100% !important;
  display: inline-block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
div[class^="MuiExpansionPanelSummary-content"] {
  width: 100% !important;
}

/* LineLightEffect.css */
.animated-container {
  position: relative;
  height: 100%;
}

.animated-text {
  z-index: 1;
  font-weight: 600;
}

.animated-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: highlight 3s ease-in-out infinite;
  z-index: 0;
}

@keyframes highlight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.photo-transition {
  opacity: 1;
  animation: photo-animation 0.3s cubic-bezier(0, 0, 0.25, 1) 0s,
    opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
}

@keyframes photo-animation {
  from {
    transform: scale3d(0.5, 0.5, 0.5);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.custom-radial-gradient {
  background: radial-gradient(circle at 100% 50%, #007bff, #0000ff);
}

/* remove autocomplete bg from mui input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #b81a1a !important;
  color: #555 !important;
  -webkit-box-shadow: 0 0 0 1000px #050a2c inset !important;
  -webkit-text-fill-color: #fff !important;
}
